{% extends 'base.html.twig' %}

{% block title %}Edit Question{% endblock %}

{% block contenu %}
    <h1>Mettre a jour une question</h1>

    {{ include('question/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_question_index') }}">Retour a la liste</a>

  
{% endblock %}
