<!DOCTYPE html>

<title>New Apprenant</title>

{% block body %}
    <h1>Create new Apprenant</h1>

    {{ include('apprenant_controllerp/_form.html.twig') }}

    <a href="{{ path('app_apprenant_controllerp_index') }}">back to list</a>
{% endblock %}
