{% extends 'base_responsable_auto_ecole.html.twig' %}

{% block title %}New Session{% endblock %}

{% block contenu %}
    <h1>Créer une nouvelle session</h1>

    {{ include('session/_form.html.twig') }}

    <a href="{{ path('app_session_index') }}">Annuler</a>
{% endblock %}
