{% extends 'base.html.twig' %}

{% block title %}Modifier Proposition{% endblock %}

{% block contenu %}
    <h1>Modifier Proposition</h1>

    {{ include('proposition/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

    <a href="{{ path('app_proposition_index') }}">Retour a la liste</a>

{% endblock %}
