{% extends 'base_apprenant.html.twig' %}



{% block username %} {{user.Nom}} {% endblock username %}
{% block contenu %}
<div class="container">
<div class="page-title-container">
<div class="row">
<div class="col-12 col-md-7">
<h1 class="mb-0 pb-0 display-4" id="title">Course Explore</h1>
<nav class="breadcrumb-container d-inline-block" aria-label="breadcrumb">
<ul class="breadcrumb pt-0">
<li class="breadcrumb-item"><a href="index.html">Home</a></li>
</ul>
</nav>
</div>
</div>
</div>
<div class="d-flex justify-content-between">
<h2 class="small-title">Popular</h2>
<div class="mt-n1">
<button class="btn btn-icon btn-icon-end btn-background pe-0 pt-0" type="button">
<span>View All</span>
<i data-acorn-icon="chevron-right"></i>
</button>
</div>
</div>


<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3 mb-5">

{% for cour in cours %}
{% if cour.enable == false %}
<div class="col">
<div class="card h-100">
<img src="https://img.freepik.com/free-vector/driving-school-driver-license-tiny-people-studying-drive-lesson-passing-exams-online_501813-494.jpg?w=2000" alt="card image">
<div class="card-body">
<h5 class="heading mb-0">{{ cour.titre }}</h5>
</div>
<div class="card-footer border-0 pt-0">
<div class="mb-2">
<div class="br-wrapper br-theme-cs-icon d-inline-block">
</div>
</div>
<div class="card-text mb-0">
<div class="text-muted text-overline text-small">
</div>
<div><a href="{{url('app_detail_cours')}}" class="body-link stretched-link">COMMENCER</a></div>
</div>
</div>
</div>
</div>
{% endif %} 
{% endfor %}


{% endblock %}
