{% extends 'base_apprenant.html.twig' %}

{% block contenu %}

<section class="content">

		  <!-- START Card With Image -->			
			<div class="card">
			  <div class="card-header">
				<h4 class="card-title">Liste des cours</h4>
			  </div>
			</div>

		  <div class="row">  
			  
            {% for cour in cours %}
            {% if cour.enable == false %}
			<div class="col-md-12 col-lg-4">
			  <div class="card">
				  <img class="card-img-top img-responsive" src="{{asset('AdminApprenant/images/card/img1.jpg')}}" alt="Card image cap">
				<div class="card-body">            	
					<h4 class="card-title">{{ cour.titre }}</h4>
					<p class="card-text"></p>
					<a href="{{url('app_detail_cours',{'id':cour.id})}}" class="btn btn-rounded btn-primary">Commencer</a>
				</div>
				<!-- /.card-body -->
			  </div>
			  <!-- /.card -->
			</div>
			{% endif %} 
            {% endfor %}

          

		  </div>
		 
		
	
		</section>

{% endblock %}
