{% extends 'base_apprenant.html.twig' %}

{% block contenu %}
<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">QUestionnaire</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Bienvenue</li>
								<li class="breadcrumb-item active" aria-current="page">Bonne chance</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
<!-- Main content -->
		<section class="content">
		  <div class="row">

          
			{% for row in qestion %}
			<div class="col-xl-4 connectedSortable">
			  <div class="box box-solid box-warning">
				<div class="box-header with-border">
				  <h4 class="box-title">{{row.intitule}}</h4>
				  <ul class="box-controls pull-right">
					<li><a class="box-btn-close" href="#"></a></li>
					<li><a class="box-btn-slide" href="#"></a></li>	
					<li><a class="box-btn-fullscreen" href="#"></a></li>
				  </ul>
				</div>
				<div class="box-body p-10">
				  <ul class="todo-list">
					<li class="b-1 p-0 mb-15">
					  <div class="position-relative p-20">
						  <!-- drag handle -->
						  <div class="handle handle2"></div>
						  <!-- checkbox -->
						  <input type="checkbox" id="basic_checkbox_19" class="filled-in">
						  <label for="basic_checkbox_19" class="mb-0 h-15 ml-15"></label>
						  <!-- todo text -->
						  <span class="text-line font-size-18">Phasellus interdum</span>
						  <!-- General tools such as edit or delete-->
						  <div class="pull-right d-block text-dark flexbox">
							<a href="#" data-toggle="tooltip" data-container="body" title="" data-original-title="Edit"><i class="fa fa-edit"></i></a>
							<a href="#" data-toggle="tooltip" data-container="body" title="" data-original-title="Remove"><i class="fa fa-trash-o"></i></a>
						  </div>
						  <div class="mt-5 ml-50 pl-5">Sed ut perspiciatis unde omnis iste natus error sit.</div>
						  <div class="mt-5 ml-50 pl-5"><em>21/06/2018</em></div>
						</div>
					</li>
					<li class="b-1 p-0 mb-15">
					  <div class="position-relative p-20">
						  <!-- drag handle -->
						  <div class="handle handle2"></div>
						  <!-- checkbox -->
						  <input type="checkbox" id="basic_checkbox_20" class="filled-in">
						  <label for="basic_checkbox_20" class="mb-0 h-15 ml-15"></label>
						  <!-- todo text -->
						  <span class="text-line font-size-18">Floor cool cinders</span>
						  <!-- General tools such as edit or delete-->
						  <div class="pull-right d-block text-dark flexbox">
							<a href="#" data-toggle="tooltip" data-container="body" title="" data-original-title="Edit"><i class="fa fa-edit"></i></a>
							<a href="#" data-toggle="tooltip" data-container="body" title="" data-original-title="Remove"><i class="fa fa-trash-o"></i></a>
						  </div>
						  <div class="mt-5 ml-50 pl-5">Sed ut perspiciatis unde omnis iste natus error sit.</div>
						  <div class="mt-5 ml-50 pl-5"><em>21/06/2018</em></div>
						</div>
					</li>
					<li class="b-1 p-0 mb-15">
					  <div class="position-relative p-20">
						  <!-- drag handle -->
						  <div class="handle handle2"></div>
						  <!-- checkbox -->
						  <input type="checkbox" id="basic_checkbox_21" class="filled-in">
						  <label for="basic_checkbox_21" class="mb-0 h-15 ml-15"></label>
						  <!-- todo text -->
						  <span class="text-line font-size-18">Floor cool cinders</span>
						  <!-- General tools such as edit or delete-->
						  <div class="pull-right d-block text-dark flexbox">
							<a href="#" data-toggle="tooltip" data-container="body" title="" data-original-title="Edit"><i class="fa fa-edit"></i></a>
							<a href="#" data-toggle="tooltip" data-container="body" title="" data-original-title="Remove"><i class="fa fa-trash-o"></i></a>
						  </div>
						  <div class="mt-5 ml-50 pl-5">Sed ut perspiciatis unde omnis iste natus error sit.</div>
						  <div class="mt-5 ml-50 pl-5"><em>21/06/2018</em></div>
						</div>
					</li>

				  </ul>
				</div>
				<!-- /.box-body -->
			  </div>
			</div>
			{% endfor %}
		  </div>
		</section>
		<!-- /.content -->

{% endblock %}
