{% extends 'base_responsable_auto_ecole.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block contenu %}
    <section class="content">
			<div class="row">
				<div class="col-xl-12">														
				
					<div class="row">
						<div class="col-lg-4 col-12">
							<a href="#" class="box pull-up">
								<div class="box-body">
									<div class="d-flex align-items-center">
										<div class="icon bg-primary-light rounded-circle w-60 h-60 text-center l-h-80">											
											<span class="font-size-30 icon-Bulb1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
										</div>
										<div class="ml-15">											
											<h5 class="mb-0">Nombre d'apprenant</h5>
											<p class="text-fade font-size-12 mb-0">{{napp}}</p>
										</div>
									</div>
									<div class="d-flex align-items-center justify-content-between mt-20">
										<div class="w-p70">
											
										</div>
										<div>
											
										</div>
									</div>
								</div>
							</a>
						</div>

						<div class="col-lg-4 col-12">
							<a href="#" class="box pull-up">
								<div class="box-body">
									<div class="d-flex align-items-center">
										<div class="icon bg-primary-light rounded-circle w-60 h-60 text-center l-h-80">											
											<span class="font-size-30 icon-Bulb1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
										</div>
										<div class="ml-15">											
											<h5 class="mb-0">Nombre rapport</h5>
											<p class="text-fade font-size-12 mb-0">{{nra}}</p>
										</div>
									</div>
									<div class="d-flex align-items-center justify-content-between mt-20">
										<div class="w-p70">
											
										</div>
										<div>
											
										</div>
									</div>
								</div>
							</a>
						</div>

						
						<div class="col-lg-4 col-12">
							<a href="#" class="box pull-up">
								<div class="box-body">
									<div class="d-flex align-items-center">
										<div class="icon bg-primary-light rounded-circle w-60 h-60 text-center l-h-80">											
											<span class="font-size-30 icon-Pen-tool-vector"><span class="path1"></span><span class="path2"></span></span>
										</div>
										<div class="ml-15">											
											<h5 class="mb-0">Nombre session</h5>
											<p class="text-fade font-size-12 mb-0">{{ns}}</p>
										</div>
									</div>
									<div class="d-flex align-items-center justify-content-between mt-20">
										<div class="w-p70">
											
										</div>
										<div>
											
										</div>
									</div>
								</div>
							</a>
						</div>
						
					</div>
					
				</div>
			
			</div>


			<div class="row align-items-end">
				<div class="col-xl-9 col-12">
					<div class="box bg-primary-light pull-up">
						<div class="box-body p-xl-0">							
							<div class="row align-items-center">
								<div class="col-12 col-lg-3"><img src="https://eduadmin-template.multipurposethemes.com/bs4/images/svg-icon/color-svg/custom-14.svg" alt=""></div>
								<div class="col-12 col-lg-9">
									<h2>Bienvenue {{user.Nom}}</h2>
									<p class="text-dark mb-0 font-size-16">
										Vos cours sont disponible pour les personnes qui sont inscrite chez vous!
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-12">
					<div class="box bg-transparent no-shadow">
						<div class="box-body p-xl-0 text-center">							
							<h3 class="px-30 mb-20">Merci<br>de nous aider en offrant votre savoir</h3>
							<button type="button" class="waves-effect waves-light btn-block btn btn-primary"></button>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-12">														
					<div class="box no-shadow mb-0 bg-transparent">
						<div class="box-header no-border px-0">
							<h4 class="box-title">Vos cours</h4>	
							<ul class="box-controls pull-right d-md-flex d-none">
							  <li>
								
							  </li>
							  
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-6 col-12">
					<div class="box bg-secondary-light pull-up" style="background-image: url(https://eduadmin-template.multipurposethemes.com/bs4/images/svg-icon/color-svg/st-1.svg); background-position: right bottom; background-repeat: no-repeat;">
						<div class="box-body">	
							<div class="flex-grow-1">	
								<div class="d-flex align-items-center pr-2 justify-content-between">
									<div class="d-flex">									
										<span class="badge badge-primary mr-15"></span>
										<span class="badge badge-primary mr-5"><i class="fa fa-lock"></i></span>
										<span class="badge badge-primary"><i class="fa fa-clock-o"></i></span>
									</div>
									<div class="dropdown">
										<a data-toggle="dropdown" href="#" class="px-10 pt-5"><i class="ti-more-alt"></i></a>
										
									</div>						
								</div>
								<h4 class="mt-25 mb-5">Cours en presentiel</h4>
								<p class="text-fade mb-0 font-size-12"></p>
							</div>	
						</div>					
					</div>
				</div>
				<div class="col-xl-3 col-md-6 col-12">
					<div class="box bg-secondary-light pull-up" style="background-image: url(https://eduadmin-template.multipurposethemes.com/bs4/images/svg-icon/color-svg/st-3.svg); background-position: right bottom; background-repeat: no-repeat;">
						<div class="box-body">	
							<div class="flex-grow-1">	
								<div class="d-flex align-items-center pr-2 justify-content-between">
									<div class="d-flex">									
										<span class="badge badge-primary mr-15"></span>
										<span class="badge badge-primary mr-5"><i class="fa fa-lock"></i></span>
									</div>
														
								</div>
								<h4 class="mt-25 mb-5">Cours pratique</h4>
								<p class="text-fade mb-0 font-size-12"></p>
							</div>	
						</div>					
					</div>
				</div>
				<div class="col-xl-3 col-md-6 col-12">
					<div class="box bg-secondary-light pull-up" style="background-image: url(https://eduadmin-template.multipurposethemes.com/bs4/images/svg-icon/color-svg/st-3.svg); background-position: right bottom; background-repeat: no-repeat;">
						<div class="box-body">	
							<div class="flex-grow-1">	
								<div class="d-flex align-items-center pr-2 justify-content-between">
									<div class="d-flex">									
										<span class="badge badge-primary mr-15"></span>
										<span class="badge badge-primary mr-5"><i class="fa fa-lock"></i></span>
									</div>
														
								</div>
								<h4 class="mt-25 mb-5">Cours théorique</h4>
								<p class="text-fade mb-0 font-size-12"></p>
							</div>	
						</div>					
					</div>
				</div>
				<div class="col-xl-3 col-md-6 col-12">
					<div class="box bg-secondary-light pull-up" style="background-image: url(https://eduadmin-template.multipurposethemes.com/bs4/images/svg-icon/color-svg/st-4.svg); background-position: right bottom; background-repeat: no-repeat;">
						<div class="box-body">	
							<div class="flex-grow-1">	
								<div class="d-flex align-items-center pr-2 justify-content-between">
									<div class="d-flex">									
										<span class="badge badge-warning-light mr-15"></span>
										<span class="badge badge-warning-light mr-5"><i class="fa fa-lock"></i></span>
									</div>
														
								</div>
								<h4 class="mt-25 mb-5">Code de la route</h4>
								<p class="text-fade mb-0 font-size-12"></p>
							</div>	
						</div>					
					</div>
				</div>
			</div>
		</section>
{% endblock %}