<div class="menu-container flex-grow-1">
<ul id="menu" class="menu">
<li>

<!-- menu dashboard -->
<a href="#dashboards" data-href="Dashboards.html">
<i data-acorn-icon="home" class="icon" data-acorn-size="18"></i>
<span class="label">Dashboards</span>
</a>
<ul id="dashboards">
<li>
<a href="Dashboards.Default.html">
<span class="label">Default</span>
</a>
</li>
</ul>
</li>
<li>

<!-- menu discussion -->
<a href="#apps" data-href="Apps.html">
<i data-acorn-icon="screen" class="icon" data-acorn-size="18"></i>
<span class="label">Discussion</span>
</a>
<ul id="apps">
<li>
<a href="Apps.Calendar.html">
<span class="label">Chat</span>
</a>
</li>
</ul>
</li>
<li>


<!-- menu membre -->
<a href="#apps" data-href="Apps.html">
<i data-acorn-icon="screen" class="icon" data-acorn-size="18"></i>
<span class="label">Membre</span>
</a>
<ul id="apps">
<li>
<a href="Apps.Calendar.html">
<span class="label">Calendar</span>
</a>
</li>
</ul>
</li>
<li>


<!-- menu pages -->
<a href="#pages" data-href="Pages.html">
<i data-acorn-icon="notebook-1" class="icon" data-acorn-size="18"></i>
<span class="label">Rendez-vous</span>
</a>
<ul id="pages">
<li>
<a href="#authentication" data-href="Pages.Authentication.html">
<span class="label">List</span>
</a>
<ul id="authentication">
<li>
<a href="Pages.Authentication.Login.html">
<span class="label">Proposition</span>
</a>
</li>
<li>
<a href="Pages.Authentication.Register.html">
<span class="label">Future rencontre</span>
</a>
</li>
</ul>
</li>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
<div class="mobile-buttons-container">
<a href="#" id="scrollSpyButton" class="spy-button" data-bs-toggle="dropdown">
<i data-acorn-icon="menu-dropdown"></i>
</a>
<div class="dropdown-menu dropdown-menu-end" id="scrollSpyDropdown"></div>
<a href="#" id="mobileMenuButton" class="menu-button">
<i data-acorn-icon="menu"></i>
</a>
</div>
</div>
<div class="nav-shadow"></div>
</div>