{% extends 'base.html.twig' %}

{% block title %}Modifier TypeDocument{% endblock %}

{% block body %}
    <h1>Modifier TypeDocument</h1>

    {{ include('type_document/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_document_index') }}">retour a la liste</a>

  
{% endblock %}
