{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block contenu %}
    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ cour.titre }}</td>
            </tr>
            <tr>
                <th>ContenuCours</th>
                <td>{{ cour.contenuCours }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cours_index') }}">Retour a la liste</a>

   

{% endblock %}
